@font-face {
    font-family: 'apbolditalic';
    src: url('../fonts/Acumin-BdItPro.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'apboldbold';
    src: url('../fonts/Acumin-BdPro.woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'apbolditalic';
    src: url('../fonts/Acumin-ItPro.woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'apmedium';
    src: url('../fonts/AcuminPro-Medium.woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'apregular';
    src: url('../fonts/Acumin-RPro.woff');
    font-weight: normal;
    font-style: italic;
}

/*******Reset CSS********/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
a:hover {
    text-decoration: none;
}
body {
  font-family: 'apregular' !important;
  font-size:14px;
  margin:0 auto;
  
}
html, body {
    height: 100%;
}

/**************/
.main-header-sec{
    position:fixed;
    left:0;
    right:0;
    background: #FFFFFF;
    border-bottom: 1px solid #E6E6E6;
    z-index: 1;
}
.navbar-header-sec {
    padding: 5px 0;
}
.col-md-3.fixed.pl-0.bg-light.left {
    padding-top: 5rem;
    padding-right: 0;
}
.bg-light {
    background-color: #E8EEF6 !important;
}
nav#topNav {
    border-bottom: 1px solid #0F2369;
    background-color: #0F2369;
}
.logo {
    width: 150px;
    /* height: 40px; */
    vertical-align: middle;
}
.content-box-banner-sec {
    padding-top: 60px;
    position:relative;
    height: 100%;
}
.left-side-bar {
    background: #F9FCFF;
    border: 1px solid #E6EBF0;
    /* border-radius: 12px; */
    opacity: 1;
    height: 100%;
    /*position: fixed;*/ 
     /*width: 250px; */
     top: 60px; 
    color: #707070;
    transition: all 0.3s;
    z-index: 1;
    overflow: hidden;
    /*margin-top: -5px;*/
}
.left-side-bar-inner-con{
    padding:15px;
    position:fixed;
}
.right-side-content-con{
    padding: 10px 10px;
    position:relative;
    height: calc(100vh - 60px);
}
ul.log-rig {
    margin: 0;
    padding: 0;
}
ul.log-rig li{
    display: inline-block;
}
ul.log-rig li a{
    display: inline-block;
    padding: 0 10px;
}
.pho-ne li a{
color: #fff;
font-size: 14px;
}
.pho-ne li a:focus{
    color:#fff;
}
.pro-cir {
    background-color: #1D76F2;
    padding: 8px;
    /* margin-top: -14px!important; */
    border-radius: 50px;
    font-size: 12px;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.profile-drop .dropdown-menu a {
    font-size: 14px;
    line-height: 19px;
    padding: 4px 15px;
}
.profile-drop .dropdown-menu {
    width: 150px;
    right: -50%;
    left: unset;
}
.use-pro-drop::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: #fff;
    top: 3px;
    position: relative;
}
ul.log-rig li a img{
    vertical-align: middle;
    align-items: center;
}
.use-pro-drop {
    /* padding: 0 10px; */
    background: none;
    border: none;
    
}
.logo-arroe {
    vertical-align: middle;
    padding: 0 0 0 2px;
}
.use-pro-drop:focus{
    background-color: none;
    box-shadow: none;
}
.use-pro-drop:hover{
    background-color: none;
    box-shadow: none;
}
/****************/
.left-tab-side-bar {
    margin: 0;
    padding: 0;
    list-style: none;
}
.left-tab-side-bar li a img{
    padding: 0 10px 0 0px;
    vertical-align: middle;
}

.left-tab-side-bar li.active a{
    font-weight:500;
}
.left-tab-side-bar li a{
text-align: left;
font-size:14px;
letter-spacing: 0;
color: #0F2369;
font-weight:400;
line-height: 20px;
padding: 12px 15px;
}
.left-tab-side-bar li{
    display:block;
    /* padding:10px 0px; */
    
}
ul.left-sub-tab-side-bar{
    padding:0;
    margin:0;
}
.left-sub-tab-side-bar li{
    display: block;
    width: 100%;
    padding: 0;
}
.left-sub-tab-side-bar li a {
    text-align: left;
    font-size: 13px;
    letter-spacing: 0;
    color: #0F2369;
    font-weight: 400 !important;
    line-height: 20px;
    padding: 8px 0 8px 45px;

}
li.nav-item.active {
    background: #d4ddeb;
}
.left-sub-tab-side-bar li.active a {
    font-weight: 500 !important;
    background: #bac8dd;
    /* opacity: 0.2; */
    letter-spacing: 0.07px;
    color: #0F2369;
    /* border-left: 3px solid #4E74A4; */
}
/***********************/
.custom-drop-over .form-control:focus{
    outline:0;
    box-shadow:none;
  }
  .custom-drop-over .form-control {
    font-size: 13px;
    text-align: left;
    color: #fff;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 3px;
    line-height: 26px;
    padding: 5px 10px;
    min-height: 35px;
    background: transparent;
    width: 200px;
  }
  
  .custom-drop-over .dropdown-toggle::after{
      position: absolute;
      right: 10px;
      top: 18px;
  
  }
  .custom-drop-over .dropdown-menu.show {
    display: block;
    padding: 3px 0px;
    width: 100%;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 7px;
  }
  
  .custom-drop-over .dropdown-item{
  padding: .25rem 0.5rem;
  font-size: 12px;
  }
  .focus-bdr-none:focus{
    border-color: #eee;
  }
  .logo-right-user {
    width: 50px;
    /* height: 50px; */
    float: left;
    margin-right: 15px;
}

.bread-crum-cus{
    margin: 0;
    padding: 0;
}
.bread-crum-cus li{
    text-align: left;
    font-size:16px;
    letter-spacing: 0.27px;
    color: #717171;
    display: inline-block;
}
.bread-crum-cus li a{
    text-align: left;
    font-size:18px;
    letter-spacing: 0.09px;
    color: #0F2369;
}
.user-icon-right-head p{
    text-align: left;
    font-size:12px;
    letter-spacing: 0.27px;
    color: #717171;
    display: inline-block;
}
.user-containe-sec {
    box-shadow: 0px 2px 3px #0000001D;
    border-radius: 10px;
    opacity: 1;
    background: #fff;
    min-height: 485px;
    max-height: 100%;
}
.bg-right-lg{
    background: #F8F8F8;
}
.call-list-sec li a.nav-link.active {
    /* font-weight: 500; */
    border: 0px;
    background: transparent !important;
    border-bottom: 3px solid #1D76F2 !important;
    margin: 0px;
    color: #1D76F2 !important;
    
}
.call-list-sec li a.nav-link:first-child{
    margin-left: 15px;
}
.call-list-sec li a.nav-link {
    text-align: left;
font-size: 14px;
letter-spacing: 0.28px;
color: #000000;
opacity: 1;
    line-height: 24px;
   
}
.nav-tabs.call-list-sec .nav-link:focus, .nav-tabs.call-list-sec .nav-link:hover {
   border-bottom: 3px solid #1D76F2 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom:0;
}
.nav-tabs.call-list-sec .nav-link{
    border:none !important;
}
.nav-tabs.call-list-sec .nav-item {
    margin-bottom: 0px;
}
.cal-for-para-sec{
text-align: left;
    font-size: 14px;
letter-spacing: 0.28px;
color: #000000;
opacity: 1;
padding: 15px 0;
}
.lft-vertical-tab{
background: #FCFCFC ;
border: 1px solid #E5E5E5;
border-radius: 7px;
min-height: 150px;
}
.call-list-sec-s2 li a.nav-link {
    text-align: left;
font-size: 14px;
letter-spacing: 0.28px;
color: #000000;
opacity: 1;
    line-height: 24px;
   
}
.nav-tabs.call-list-sec-s2 .nav-link:focus, .nav-tabs.call-list-sec-s2 .nav-link:hover {
    color: #1D76F2 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
    border: none;
}
.call-list-sec-s2 li a.nav-link.active {
    /* font-weight: 500; */
    border: 0px;
    background: transparent !important;
    /* border-bottom: 3px solid #1D76F2 !important; */
    margin: 0px;
    color: #1D76F2 !important;
}
ul.nav.nav-tabs.call-list-sec-s2 {
    border-bottom: none;
}
.nav-tabs.call-list-sec-s2 .nav-link{
    border:none !important;
    
}
.nav-tabs.call-list-sec-s2 .nav-item {
    margin-bottom: 0px;
    display: block;
    width: 100%;
    /* padding: 3px 0; */
}
.succes-bar{
    /* background: #F2FDE7;
    box-shadow: 0px 3px 6px #0000000B;
    border: 1px solid #EFEFEF; */
    opacity: 1;
    padding: 8px 10px;
    min-height: 35px;
    background: #30B276;
    box-shadow: 0px 3px 6px #38C18240;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}
.succes-bar img{
    margin-right: 5px;
 vertical-align: middle; 
    /* width: 20px;
    height: 20px;
    float: left; */
}
.succes-bar span{
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.26px;
    color: #fff;
    opacity: 1;
    line-height: 0;
}
.user-main-header-sec.d-flex.justify-content-between.mb-4 {
    align-items: center;
}
.emp-info-con{
    background: #FFFFFF;
border: 1px solid #E8EEF6;
border-radius: 7px;
opacity: 1;
/* min-height: 260px; */
padding: 1.5rem 2rem;
}
.form-head-em-info {
text-align: left;
font-size: 13px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
font-weight: 500;
}
.form-head-em-info-s1 {
    text-align: left;
    font-size: 13px;
    letter-spacing: 0px;
    color: #1D76F2;
    opacity: 1;
    font-weight: 500;
    }
    .Password-con{
        background: #FFFFFF;
/* border: 1px solid #E8EEF6; */
/* border-radius: 7px; */
opacity: 1;
/* min-height: 260px; */
padding: 1.5rem 0rem; 
    }
    .form-head-pass-info {
        text-align: left;
        font-size: 13px;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        font-weight: 500;
        vertical-align: middle;
        line-height: 34px;
    }
    .custom-form-pass{
    height: 34px;
    font-size: 13px;
        background: #F7F7F7;
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    color:#0F2369;
    }
    input[type="text"]{
        color:#0F2369 !important;
    }
    select{
        color:#0F2369 !important;
    }
    ::placeholder{
        color:#0F2369 !important; 
    }
    .custom-form-pass:focus{
        box-shadow: none;
        outline: 0;
    }
    .btn.cont-btn:focus{ box-shadow: none;
        outline: 0;
    }
    .cont-btn {
        background: #1D76F2;
        border-radius: 4px;
        opacity: 1;
        text-align: left;
        font-size: 13px;
        letter-spacing: 0.3px;
        color: #fff;
        min-width: 100px;
        text-align: center;
        padding: 6px 15px;
    }
    .btn.cont-btn{ color: #fff;}
.mandt{color:#ff6767;vertical-align: sub;}
.flag-drop{
    height: 34px;
    font-size: 13px;
    background: #F7F7F7;
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    padding: 5px 5px;
}
.logo-right-flag{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.error-msg-txt{
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.26px;
    color: #ff6767;
    opacity: 1;
    line-height: 25px;
}
.error-icon {
    vertical-align: middle;
margin-right: 3px;
}
.btn.change-btn:focus{ box-shadow: none;
    outline: 0;
}
.change-btn {
    background: #A0BAE6 ;
    border-radius: 4px;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #fff;
    min-width: 100px;
    text-align: center;
    padding: 6px 10px;
}
.btn.change-btn{ color: #fff;}
.btn.delet-btn:focus{ box-shadow: none;
    outline: 0;
}
.delet-btn {
    background: #fff;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #1F1F1F;
    min-width: 100px;
    text-align: center;
    padding: 6px 15px;
    border: 1px solid #D8D8D8;
}
.logo-right-suc-big {
    width: 90px;
    margin: 0 auto;
}
.warnin-con {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8EEF6;
    border-radius: 7px;
}
.war-head {
    background: #FF5655 ;
    border-radius: 7px 7px 0px 0px;
    opacity: 1;
    padding: 8px 15px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.55px;
    line-height: 15px;
    font-weight: 400;
}
.war-body-panel {
    background: #fff ;
    border-radius: 7px 7px 0px 0px;
    opacity: 1;
    padding: 15px 15px;
    color: #FF5655;
    font-size: 13px;
    letter-spacing: 0.55px;
    line-height: 15px;
    font-weight: 400;
}
/* modal overall custom css */
.modal-dialog.whitetheme h4.modal-title {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px;
    color: #fff;
    font-weight: 400;
}
.modal-dialog.whitetheme .modal-content{
    border: none;
}
.modal-dialog.whitetheme .modal-header{
    background-color: #1D76F2;
    padding: 15px 15px;
}
button.close:focus{outline:none;box-shadow: none;}
button.close:hover{outline:none;box-shadow: none; color:#fff;}

button.close {
    position: absolute;
    right: 1rem;
    top: 12px;
    color: #fff;
    opacity: 1;
    font-size: 20px;
    font-weight: 400;
}
.modal-dialog.whitetheme p {
    font-size: 13px;
    margin: 0 0 7px;
    line-height: 25px;
}
.modal-dialog.whitetheme input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    height: 38px;
    padding: 0 1rem;
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #000 !important;
}
.modal-dialog.whitetheme .modal-body { padding: 1rem 1.5rem 2rem;}
button.btn.btn-default.cancel {
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    height: 34px;
    letter-spacing: 0.24px;
    color: #000000;
    font-size: 13px;
    line-height: 15px;
                    width: 80px;
}
button.btn.btn-default.success{
                background: #1D76F2 0% 0% no-repeat padding-box;
                border-radius: 4px;
                border: 1px solid #1D76F2;
    border-radius: 4px;
    height: 34px;
    letter-spacing: 0.24px;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
                    width: 80px;
}
.modal-dialog.whitetheme .modal-footer { padding: 0.8rem 1.2rem;}
.btn.focus, .btn:focus{box-shadow:none!important;}
.modal-dialog.whitetheme {
    max-width: 400px;
    margin: 10rem auto;
}
.modal-dialog.whitetheme input:focus{
    outline: none;
    box-shadow: none;
}
.custom-form-drops{    
    height: 38px;
    font-size: 13px;
    color:#0F2369;
    background: #fff;
    border: 1px solid #DFE3E9;
    border-radius: 4px;}
    .custom-form-drops:focus{
        outline: none;
        box-shadow: none;
    } 
    
    button#dropdownMenuButton:hover {
        background: none;
    }
/***************reginational css*******/
.tab-content.inner-righttwo {
    margin: 10px;
}
.form-check.form-check-inline .form-check-input {
    height: 23px;
    width: 23px;
}
.title-sm-bold {
    font-weight: bold;
    font-size: 13px;
}
.Personal-cont-sec p.title-sm-bold {
    margin-bottom: 10px;
}
.form-check.form-check-inline .form-check-label {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
}
.custom-select {
    font-size: 14px;
    border: 1px solid #0000001A;
    color: #0F2369;
}
.custom-select:focus {
    outline: none !important;
}
.col-form-label {
    font-size: 13px;
    font-weight: 500;
}
.col-form-label sup {
    color: red;
    top: -.2em;
}
button.btn.btn-upd {
    background: #1D76F2;
    border-radius: 4px;
    color: #fff;
    padding: 7px 28px;
    font-size: 13px;
}
.has-search .form-control {
    color: #A8A8A8;
    padding-left: 2.375rem;
    background: #F7F7F7;
    font-size: 12px;
    height: calc(1.5em + .75rem + 4px);
}

.has-search .form-control-search {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    font-size: 12px;
}
table.cus-dt thead>tr>th {
    background: none;
    border: none !important;
}
table.cus-dt {
    border: none;
}
.table-striped.cus-dt tbody tr:nth-of-type(odd) {
    background: #f3f6fa;
    border-radius: 8px;
}
.table-bordered td, .table-bordered th {
    border: 0px;
}

/*******************datatable custom css***/
/* .dataTables_wrapper table.dataTable tbody td {
    padding: 10px 10px !important;
    font-size: 13px;
   vertical-align: middle;
} */
.dataTables_wrapper table.dataTable tbody td h4{
    font-size: 13px;
    vertical-align: middle;
    margin: 0;
    line-height: 2;
    font-weight: 400;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.25em !important;
}
table.dataTable{
    border: 1px solid #DFE3E9;
    border-radius: 8px;
}
/* end */
.page-item.disabled .page-link {
    border: none;
}
li.paginate_button.page-item.active a {
    color: #fff !important;
    background: #1d76f2 !important;
    border: 0px !important;
    border-radius: 50px;
}
/* .inner-rightthree {
    width: 90%;
} */
.page-link {
    padding: 3px 7.7px;
}
/* div.dataTables_wrapper div.dataTables_filter {
    display: none;
} */
li.paginate_button.page-item a {
    background: transparent;
    border: 0px !important;
    border-radius: 50px;
    color: #000 !important;
    margin: 0px 3px;
}
/******10/8/2020**************/
span.dt-edit-btn {
    margin-left: 0.55rem;
    padding: 8px 12px;
    background: #E8EEF6 0% 0% no-repeat padding-box;
    border-radius: 50%;
    position: absolute;
    left: 5.5rem;
    top: 5px;
    width: 35px;
    height: 35px;
}
.para-con-head p{
    text-align: left;
    /* font: Regular 16px/21px Helvetica Neue; */
    letter-spacing: 0.32px;
    color: #000000;
    font-size: 14px;
    margin-bottom: 1.5rem;
}
.edit-img-parent{
    position: relative;
}
.com-nub-badge {
    background: #69DE8D39;
    border-radius: 3px;
    padding: 3px 8px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.24px;
    color: #307B46;
    margin-left: 10px;
}
.pur-nub-badge {
    background: #CDEBF2 ;
    border-radius: 3px;
    padding: 3px 8px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.24px;
    color: #0F2369;
    margin-left: 10px;
}
.button.close:hover{
    opacity: none;
}

.bread-crum-cus-call{
    margin: 0;
    padding: 0;
}
.bread-crum-cus-call li{
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.27px;
    color: #717171;
    display: inline-block;
}
.bread-crum-cus-call li a{
    text-align: left;
    font-size: 14px;
    /* letter-spacing: 0.09px;
    color: #0F2369; */
    letter-spacing: 0.28px;
color: #141414;
}
.bread-crum-cus-call li.active a{
    color: #1D76F2; 
}
.bred-arrw {
    vertical-align: middle;
    padding: 0 2.5px;
}
.fon-siz-cus{
    font-weight: 400 !important;
}
.tim-rechange-s1{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}
.your-time-sec{
    background: #F7FAFF;
    border: 0.5px solid #E1E8F4;
    border-radius: 4px;
    opacity: 1;
    /* width: 287px; */
    padding: 8px 10px;
    width: 28%;
    float: left;
    margin-top: 15px;
}
.your-time-sec p{
    text-align: left;
   font-size: 13px;
    letter-spacing: 0.26px;
    color: #192D4D;
}
/******************switch slide but****/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-toggle-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider-toggle-btn:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider-toggle-btn {
    background-color: #1D76F2;
  }
  
  input:focus + .slider-toggle-btn {
    box-shadow: 0 0 1px #1D76F2;
  }
  
  input:checked + .slider-toggle-btn:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider-toggle-btn.round {
    border-radius: 45px;
  }
  
  .slider-toggle-btn.round:before {
    border-radius: 50%;
  }
/******type number ******/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;

}

.cus-time-pick{
    height: 34px;
    font-size: 13px;
    /* background: #F7F7F7; */
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    color: #000;
    width: 30%;
    float: left;
}
.cus-time-pick:focus {
    box-shadow: none;
    outline: 0;
}
.panel-tail {
    background: #FFFFFF ;
    box-shadow: 0px 2px 10px #0000001D;
    border-radius: 10px;
    opacity: 1;
    padding:0.75rem 1.5rem;
}
.rig-pan-inn-text h4{
text-align: left;
font-size:18px;
letter-spacing: 0.36px;
color: #0F2369;
font-weight: 500;
margin-bottom: 10px;
}
.rig-pan-inn-text p{
    text-align: left;
    font-size:12px;
    letter-spacing: 0.36px;
    color: #717171;
    font-weight: 400;
    }

    .profile-drop.show>.btn-secondary.dropdown-toggle{
        background-color: none !important;
    }

/*Contact Style*/
.conatct-title h2 {
    font-size: 18px;
    color: #0F2369;
    line-height: 26px;
    font-weight: 600;
    padding-bottom: 6px;
}
.conatct-title p {
    font-size: 12px;
    color: #717171;
    line-height: 20px;
}

.contact-tables {
    padding: 20px;
}
.contact-tables .table-warning, .table-warning>td, .table-warning>th {
    background-color: #fff8eb;
}
.contact-tables .panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
}
.table-blue-clr{color: #1D76F2;}

.contact-tables table.table-bordered.dataTable {
    border-right-width: 1px;
}
.contact-tables .table tbody img {
    cursor: pointer;
}

.contact-tables .table-striped tbody tr {
    background-color: #E8EEF6!important;
    height: 44px;
}
.contact-tables div#example_length {
    margin-bottom: 1rem;
}
tr.hide-table-padding td {
    padding: 0;
  }
  .contact-tables .dataTables_wrapper table.dataTable tbody td {
    font-weight: 500;
}
tr.table-warning th {
    font-size: 13px;
}
.contact-tables tr.clickable.collapsed img
{transform: rotate(180deg);
    transition: transform 330ms ease-in-out;
}


ul.flex-column.subm.nav li a {
    padding-left: 2rem;
}
.left-tab-side-bar li a span {
    padding-right: 5px;
}
.left-tab-side-bar li.nav-item:hover {
    background: #B9C8DD;
    border-left: 3px solid #0F2369;
}
.left-tab-side-bar li {
    border-left: 3px solid #E8EEF6;
}
ul.flex-column.subm.nav li {
    padding: 8px 5px;
    border-left: 0px solid #E8EEF6;
}
li.nav-item.selected {
    border-left: 3px solid #0F2369;
    background: #D4DDEB;
}
.left-tab-side-bar li.nav-item.active {
    background: #B9C8DD;
    border-left: 3px solid #E8EEF6;
}
.flex-grow {
    margin-top: 4.2rem;
}
.user-icon-right-head {
    padding: 1rem 2rem;
    background: #F7F7F7;
}
.user-icon-right-head {
    padding: .8rem 2rem;
    background: #F7F7F7;
}
.user-icon-right-head h4 {
    text-align: left;
    font-size: 24px;
    line-height: 21px;
    color: #000;
    margin: 0.5rem 0;
}
.user-icon-right-head h4 span {
    font-size: 18px;
    color: #1D76F2;
}
.contenthead {
    border: 1px solid #E7EDF3;
    padding: 0px 2rem;
}
ul {
    list-style-type: none;
}
.contentheadlist li {
    display: inline-block;
}
.contentheadlist ul li {
    padding: 12px 2rem;
}
.contentheadlist ul li.active {
    border-bottom: 2px solid #1D76F2;
}
table.dataTable thead .sorting {
    background-image: url(https://cdn.datatables.net/1.10.22/images/sort_both.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting:before {
    display: none !important;
}
table.cus-dt thead > tr > th {
    background: none;
    border: none !important;
}
.center-container {
    padding: 0px 2rem;
}
span.fletter {
    width: 35px;
    height: 35px;
    background: #1D76F2;
    line-height: 40px;
    display: block;
    text-align: center;
    margin-right: 10px;
    border-radius: 50px;
}
.admindpdwn.dropdown-toggle {
    background: #1A307E;
    border-radius: 9px;
    padding: 7px 30px 7px 10px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
span.usertitle {
    display: block;
    font-size: 10px;
    color: #A0BAE6;
}


























  /********share modal pop **************/
.form-check.form-check-inline.cus-chekmodal .form-check-input{
height: 16px;
width: 16px;
margin-top: 0.3rem;
}
.table.share-modal-table.dataTable{border: none !important;}
.table.share-modal-table.dataTable tbody tr:nth-of-type(odd){background-color: #fff;}
.modal-dialog.shareto {
    max-width: 515px;
    margin: 5rem auto;
}
.modal-dialog.shareto .modal-header {
    background-color: #1D76F2;
    padding: 15px 15px;
    color: #fff
}
.modal-dialog.shareto .modal-content{
    border: none;
}
.modal-dialog.shareto .modal-body div.dataTables_wrapper div.dataTables_filter input{
    padding: 0px;
}
/*****audio player custom css*************/
.call-audio {
    width: 100%;
    position: relative;
   
	text-align: center;
   /* padding-top: 3rem; */
   margin:0 auto;
}
.call-audio p {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 600;
    letter-spacing: 0.35px;
    margin-top: 0.7rem;
}
.call-audio .audio-date {
    font-size: 11px;
    color: #000000;
    opacity: 0.65;
    font-weight: 400;
    margin: 0;
}
.call_audio_list ul li {
    display: inline-block;
   padding-right: 40px;
	cursor: pointer;
}
.call_audio_list ul li span:hover {color:#1D76F2;}
.call_audio_list ul {
    list-style: none;
}
.call_audio_list .audio-text {
    font-size: 11px;
    line-height: 15px;
    color: #000000;
    opacity: 0.65;
    letter-spacing: 0.2px;
    position: relative;
    top: -5px;
}
.call-audio .green-audio-player .volume {
    position: relative;
    display: block!important;
	flex: auto;
}
.call-audio .green-audio-player {
    width: 390px;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    background-color: #ffffff;
    height: 35px;
    margin: 5px auto 15px;
}
.call-audio .green-audio-player .controls span {
    cursor: default;
	font-size: 11px;
    display: block!important;
}
.call-audio .green-audio-player .slider .gap-progress .pin {
    height: 9px;
    width: 9px;
    border-radius: 8px;
    background-color: #1D76F2;
}
.green-audio-player .volume .volume__controls.top {
    bottom: -1px!important;
    left: 21px!important;
}
.call-audio .green-audio-player .volume .volume__controls {
    width: 45px !important;
    height: 25px!important;
    border-radius: 7px;
    position: absolute;
    align-items: center;
    display: flex;
   background: none;
    z-index: unset;
    outline: none;
	flex-direction: inherit!important;
}
.green-audio-player .volume .volume__controls.hidden {
    display: flex!important;
}
.call-audio .green-audio-player .volume .slider {
  margin-top: 15px;
    overflow: visible!important;

}
.call-audio .green-audio-player .volume .volume__controls .volume__slider .volume__progress .volume__pin {
    left: -5px;
    top: -5px!important;
}
.call-audio .green-audio-player .controls .controls__slider {
    margin-left: 10px!important;
    margin-right: 10px;
    border-radius: 2px;
    height: 4px;
    width: 100px;
}
.call_audio_list span:nth-child(1) {
    color: #707070;
    font-size: 20px;
    font-weight: 100;
}
.volume__button svg {
    width: 14px!important;
    position: relative;
    left: -2px;
}
.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    /* box-shadow:0 0 0 2px #777, 0 0 4px #777; */
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
     transition:.4s;
     background: #DFE1E5 ;
    opacity: 1 !important;
    border: 2px solid #DFE3E9 ;
    /*box-shadow: 0 0 0 0px #777, 0 0 0px #777;*/
  }
  /*********custom change parent class inclue only player work*****/
  .play-player .green-audio-player .volume .volume__controls.bottom {
    bottom: 0px !important;
    left: 30px !important;
}
.play-player .green-audio-player .volume .volume__controls .volume__slider{
    margin-bottom: 3px;
}
.play-player .green-audio-player{
padding-left: 15px;
}
.play-player .green-audio-player .volume .volume__button.open path {
    fill: #1D76F2;
}
.green-audio-player svg, .green-audio-player img {
    display: block;
    width: 15px;
    height: 15px;
}
.play-player .volume__slider.slider{
    background-color: #1D76F2;
    position: relative;
    /* border: 2px solid #1D76F2; */
}
/**************/
.con-detail-right span.con-sec-list-sm {
    position: absolute;
    right: 0;
    top: 11px;
}
.con-detail-right {
    position: relative;
}
.call-slide-cont{position: absolute;
    right: 0;
    top: 10px;}

    .modal-dialog.play-player {
        max-width: 425px;
        margin: 5rem auto;
    }
    .modal-dialog.play-player .modal-header {
        background-color: #1D76F2;
        padding: 15px 15px;
        color: #fff
    }
    .modal-dialog.play-player .modal-content{
        border: none;
    }

/****************/

@media (min-width: 1499px) {
.tab-content.inner-righttwo {
    width: 60%;
}
}
@media(min-width: 1024px) and (max-width: 1498px) {
.tab-content.inner-righttwo {
    width: 90%;
}
}
/**********end**********/

/* side bar align */
@media (min-width: 768px){
.fixed {    min-height: 100vh;    min-width: 240px;   max-width: 240px;}
}
